* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Onest", serif;
}

body {
    background-color: #001524;
    height: 100vh;
    align-items: center;
}

.interface {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* elementos */
.elements .flex{
    padding: 40px 8%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.flex h1{
    color: white;
    font-size: 32px;
    text-align: center;
}

.flex h1 span{
    color: #ff7d00;
    display: block;
}

.logoType img {
    height: auto;
    width: 320px;
}

.flex button{
    padding: 12px 40px;
    font-size: 18px;
    font-weight: 400;
    background-color: #ff7d00;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

button:hover,
form .btnEnviar input:hover {
    box-shadow: 0px 0px 8px #af6118;
    transform: scale(1.05);
}

.flex button a{
    text-decoration: none;
    color: white;
}